<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='style-score.css?ver=5.0.0' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
      <ons-page>
        <div class="background" style="background-color: #003300;"></div>
        <v-ons-toolbar>
          <div class="left"></div>
          <div class="center">{{ title }}</div>
          <div class="right"><v-ons-toolbar-button icon="ion-navicon, material: md-menu"></v-ons-toolbar-button></div>
        </v-ons-toolbar>
        <div id="game">
            <div class="game-inning">
              <span>{{ score.inning }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.topname }}</span>
            </div>
            <div class="team-score">
              <span style="margin-right:10px">{{ score.topscore }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.bottomname }}</span>
            </div>
            <div class="team-score">
              <span>{{ score.bottomscore }}</span>
            </div>
        </div>
        <div id="batter-list">
          <div class="inning">
            <span>1回表</span>
          </div>
          <div class="batter-score">
            <div class="order">
              <span>2</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>P のあ #1</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedItemBatter">
                    <option v-for="item in itemsbatter" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemDirection">
                    <option v-for="item in itemsDirection" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemBatterrun">
                    <option v-for="item in itemsBatterrun" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="ok">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </div>
          <div class="batter-score">
            <div class="order">
              <span>1</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>C とら #2 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedItemRunner">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="ok">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </div>
        </div>

        <v-ons-list modifier="score-list">
          <v-ons-list-header modifier="score-list-header">3回表</v-ons-list-header>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>2</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>P のあ #1</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedItemBatter" v-on:change="fetchBatter">
                    <option v-for="item in itemsbatter" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemDirection">
                    <option v-for="item in itemsDirection" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemBatterrun">
                    <option v-for="item in itemsBatterrun" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>1</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>C とら #2 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedItemRunner">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selectedItemBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
        </v-ons-list>
      </ons-page>
    </template>

    <div id="app"></div>
    
    <script>
      var vm = new Vue({
        el: '#app',
        template: '#main',
        data() {
          return {
            title: 'Scorebook mobi',
            score:null,
            itemsbatter: [
                    { text: '結果', value: '結果' },
                    { text: 'ゴロ', value: 'ゴロ' },
                    { text: 'フライ', value: 'フライ' },
                    { text: '三振', value: '三振' },
                    { text: 'ヒット', value: 'ヒット' },
                    { text: '犠打', value: '犠打' },
                    { text: '犠飛', value: '犠飛' },
                    { text: '四球', value: '四球' },
                    { text: '死球', value: '死球' },
                    { text: '2塁打', value: '2塁打' },
                    { text: '3塁打', value: '3塁打' },
                    { text: '本塁打', value: '本塁打' },
                    { text: 'エラー', value: 'エラー' },
            ],
            selectedItemBatter: '結果',
            itemsDirection: [
                    { text: '方向', value: '方向' },
                    { text: 'P', value: 'P' },
                    { text: 'C', value: 'C' },
                    { text: '1B', value: '1B' },
                    { text: '2B', value: '2B' },
                    { text: '3B', value: '3B' },
                    { text: 'SS', value: 'SS' },
                    { text: 'LF', value: 'LF' },
                    { text: 'CF', value: 'CF' },
                    { text: 'RF', value: 'RF' },
                    { text: 'LF-CF', value: 'LF-CF' },
                    { text: 'CF-RF', value: 'CF-RF' },
            ],
            selectedItemDirection: '方向',
            itemsRunner: [
                    { text: '結果', value: '結果' },
                    { text: '盗塁', value: '盗塁' },
                    { text: 'WP', value: 'WP' },
                    { text: 'PB', value: 'PB' },
                    { text: '進塁', value: '進塁' },
            ],
            selectedItemRunner: '結果',
            itemsBase: [
                    { text: '--', value: '--' },
                    { text: '2塁へ', value: '2塁へ' },
                    { text: '3塁へ', value: '3塁へ' },
                    { text: '本塁へ', value: '本塁へ' },
            ],
            selectedItemBase: '--',
            itemsBatterrun: [
                    { text: '--', value: '--' },
                    { text: '2塁へ', value: '2塁へ' },
                    { text: '3塁へ', value: '3塁へ' },
                    { text: '本塁へ', value: '本塁へ' },
            ],
            selectedItemBatterrun: '--',
          };
        },
        mounted: function () {
          axios.get("./score.json").then(response => (this.score = response.data))
        },
        methods: {
          fetchBatter: function() {
            alert(this.selectedItemBatter);
          }
        },
      });
    </script>
  </body>
</html>
