header {
  padding:1px;
  background: #FFF;
  color:#003300;
  height:28px;
}

body {
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color:#003300;
  color:#FFF;
}

#navi-title {
  text-align: center;
  font-size:16px;
}

#game {
  margin:4px 4px 0 4px;
  border: 2px solid #FFF;
  text-align: center;
  font-size:16px;
  height:26px;
  padding:2px;
}

.team-name{
  float: left;
  padding:0 10px 0 10px;
  text-align: center;
  height:100%;
  background-color: #FFF;
  color:#003300;
}

.team-score{
  float: left;
  margin:0 12px 0 12px;
  padding:0 10px 0 10px;
  text-align: center;
  height:24px;
  background-color: #003300;
  color:#FFF;
}

#batter-list {
  margin:6px 8px 0 12px;
}

.inning{
  width:100%;
  border: 2px solid #FFF;
  height:26px;
  overflow: hidden;
  color:#FFF;
  font-size:16px;
  background-color: #FFF;
  color:#003300;
  margin-bottom:3px;
  font-weight:bold;
}

.batter-score{
  width:100%;
  border: 2px solid #FFF;
  height:68px;
  overflow: hidden;
  padding:2px;
  margin-bottom:3px;
}

.selectbox{
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  max-height: 100%;
  font-size:20px;
  border :1px solid #fff;
  background-color: #003300;
  color:#FFF;
  margin:1px 0 0 1px;
}

.player-item{
  margin:0 0 0 10px;
  float: left;
  font-size:14px;
}

.order{
  float: left;
  font-size:32px;
  padding:6px 4px 0 4px;
  text-align: center;
  height:60px;
  width:30px;
  background-color: #FFF;
  color:#003300;
}

.score{
  float: left;
}

.player-position{
  margin:1px 0 0 0;
}

.name{
  margin:1px 0 0 0;
}

.position{
  float: left;
  margin:0 0 0 2px;
}

.ok{
  float: right;
  padding:0 0 0 0px;
}

.ok-button{
  font-size:12px;
  padding:0px 0px 0 0px;
  text-align: center;
  height:60px;
  width:30px;
  background-color: #FFF;
  color:#003300;
}



