body {
  margin: 0;
  background: #24292e;
}

#video {
  width: 800px;
}

#navi {
  background: #000;
  width: 100%;
  height: 32px;
}

#menubotton {
  margin-left: 10px;
  margin-top: 8px;
}

#recbotton {
  position: absolute;
  top:300px;
  left:700px;
}

#rec {
  color: red;
  font-size: 36pt;
}
