body {
  margin: 0;
  background: #24292e;
}

#video {
  width: 1080px;
  height: 1440px;
}

#navi {
  background: #000;
  width: 100%;
  height: 52px;
}

#menubotton {
  margin-left: 15px;
  margin-top: 18px;
}

#recbotton {
  position: absolute;
  top:800px;
  left:1100px;
}

#rec {
  color: white;
  font-size: 36pt;
}
