<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='style.css?ver=5.0.0' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
          <v-ons-page>
            <v-ons-toolbar>
              <div class="center">{{ title }}</div>
            </v-ons-toolbar>
            
            <v-ons-tabbar swipeable position="auto"
                  :tabs="tabs"
                  :visible="true"
                  :index.sync="activeIndex"
                >
            </v-ons-tabbar>
          </v-ons-page>
    </template>
    
  
    <template id="game">
      <v-ons-page>
          <div class="background" style="background-color:#003300;"></div>
          <v-ons-list>
            <v-ons-list-item>
              <label class="center" for="switch1">
                公式戦
              </label>
              <div class="right">
                <v-ons-switch input-id="switch1"
                  v-model="officialValue"
                  v-on:change="officialChange"
                >
                </v-ons-switch>
              </div>
            </v-ons-list-item>
            <v-ons-list-item v-show="officialValue">
                <div class="center">        
                  <v-ons-input placeholder="大会名を入力してください"
                    v-model="gameName"
                  >
                  </v-ons-input>          
                </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="対戦相手を入力してください"
                      v-model="opponentName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="球場名を入力してください"
                      v-model="fieldName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
              <v-ons-list-item>
                <div class="center">
                  <v-ons-radio
                    :input-id="'radio-1'"
                    :value="'top'"
                    v-model="selectTopBottom"
                    v-on:change="onChangeTopBottom"
                  >
                  </v-ons-radio>
                  <label style="margin-right: 25px;">先攻</label>
                  <v-ons-radio
                  :input-id="'radio-2'"
                  :value="'bottom'"
                  v-model="selectTopBottom"
                  v-on:change="onChangeTopBottom"
                  >
                </v-ons-radio>
                <label>後攻</label>
                </div>
              </v-ons-list-item>
            </v-ons-list>
            <section style="margin: 16px">
              <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
            </section>    
      </v-ons-page>
    </template>

    <template id="offense">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <div id="game">
            <div class="game-inning">
              <span style="margin-right: 8px;">{{ score.inning }}</span>
              <span v-if="score.out1" style="color:red;">●</span><span v-else>●</span>
              <span v-if="score.out2" style="color:red;">●</span><span v-else>●</span>
            </div>
            <div class="team-name">
              <span>{{ score.topname }}</span>
            </div>
            <div class="team-score">
              <span style="margin-right:10px">{{ score.topscore }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.bottomname }}</span>
            </div>
            <div class="team-score">
              <span>{{ score.bottomscore }}</span>
            </div>
        </div>
        <v-ons-list modifier="score-list">
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>4</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>CF かいせい #5</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedBatterResult" v-on:change="selectedOnChangeBatterResult">
                    <option v-for="(item, index) in itemsBatter" :value="item.value" :key="index">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterDirection" v-model="selectedBatterDirection" v-on:change="selectedOnChangeBatterDirection">
                    <option v-for="item in itemsDirection" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterRun" v-model="selectedBatterRun" v-on:change="selectedOnChangeBatterRun">
                    <option v-for="item in itemsBatterRun" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <!-- <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div> -->
          </v-ons-list-item>
          <v-ons-list-item style="height:5px;background-color: white;">
            <div style="height:5px;background-color: white;">
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>3</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>SS ボビー #10 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected1stRunner" v-on:change="selectedOnChangeRunner('1st')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected1stRunner" v-model="selected1stBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <!-- <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div> -->
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>2</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>P のあ #1 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected2ndRunner" v-on:change="selectedOnChangeRunner('2nd')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected2ndRunner" v-model="selected2ndBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <!-- <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div> -->
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>1</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>C とら #2 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected3rdRunner" v-on:change="selectedOnChangeRunner('3rd')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected3rdRunner" v-model="selected3rdBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <!-- <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div> -->
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item-diamond">
              <div id="diamond">
                  {{ getRunnerInfo('1st') }}
                  {{ getRunnerInfo('2nd') }}
                  {{ getRunnerInfo('3rd') }}
              </div>
              <div class="right">
                  <v-ons-button modifier="ok-button">決定</v-ons-button>
              </div>    
            </v-ons-list-item>  
        </v-ons-list>
      </v-ons-page>
    </template>
    
    <template id="top">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
          <!-- <ul>
            <li v-for="data in toporder">
              名前：{{data.name}}　年齢：{{data.number}}</p>
            </li>
          </ul> -->
        <v-ons-list modifier="order-list">
          <v-ons-list-item modifier="order-list-item" v-for="data in toporder">
            <v-ons-row>
              <v-ons-col width="32px">
                <div class="order-list-order">
                  {{data.order}}
                </div>
              </v-ons-col>
              <v-ons-col>
                  <v-ons-select modifier="select" v-model="selected3rdRunner" v-on:change="selectedOnChangeRunner('3rd')">
                      <option v-for="item in itemsRunner" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
            <!-- <div class="order-item">
              <v-ons-select modifier="order" v-model="selectedBatterResult" v-on:change="selectedOnChangeBatterResult">
                <option v-for="item in itemsBatter" :value="item.value">
                  {{ item.text }}
                </option>
              </v-ons-select>
            </div> -->
            </v-ons-row>
          </v-ons-list-item>
        </v-ons-list>

        <section style="margin: 16px">
          <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
        </section>
      </v-ons-page>
    </template>
      
    <template id="bottom">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <p style="text-align: center">
            Change the settings.
        </p>
      </v-ons-page>
    </template>

 
    <div id="app"><script src="./app.js?v=1"></script></div>
  </body>
</html>
