<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script src="http://unpkg.com/element-ui/lib/index.js"></script>
    <script src="http://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
    <link rel='stylesheet' href='style.css?ver=5.0.0' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
          <v-ons-page>
            <v-ons-toolbar>
              <div class="center">{{ title }}</div>
            </v-ons-toolbar>
            
            <v-ons-tabbar swipeable position="auto"
                  :tabs="tabs"
                  :visible="true"
                  :index.sync="activeIndex"
                >
            </v-ons-tabbar>
          </v-ons-page>
    </template>
    
  
    <template id="game">
      <v-ons-page>
          <div class="background" style="background-color:#003300;"></div>
          <v-ons-list>
            <v-ons-list-header>
              試合情報
            </v-ons-list-header>
            <v-ons-list-item>
              <label class="left">
                <v-ons-checkbox
                  :input-id="official"
                  :value="officialLabel"
                >
                </v-ons-checkbox>
              </label>
              <label class="center">
                公式戦
              </label>
            </v-ons-list-item>
            <v-ons-list-item>
                <div class="center">        
                  <v-ons-input placeholder="大会名を入力してください"
                    v-model="gameName"
                  >
                  </v-ons-input>          
                </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="対戦相手を入力してください"
                      v-model="opponentName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="球場名を入力してください"
                      v-model="fieldName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
            </v-ons-list>
      </v-ons-page>
    </template>

    <template id="offense">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <div id="game">
            <div class="game-inning">
              <span>{{ score.inning }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.topname }}</span>
            </div>
            <div class="team-score">
              <span style="margin-right:10px">{{ score.topscore }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.bottomname }}</span>
            </div>
            <div class="team-score">
              <span>{{ score.bottomscore }}</span>
            </div>
        </div>
        <v-ons-list modifier="score-list">
          <v-ons-list-header modifier="score-list-header">3回表</v-ons-list-header>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>4</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>CF かいせい #5</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedBatterResult" v-on:change="selectedOnChangeBatterResult">
                    <option v-for="item in itemsBatter" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterDirection" v-model="selectedBatterDirection" v-on:change="selectedOnChangeBatterDirection">
                    <option v-for="item in itemsDirection" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterRun" v-model="selectedBatterRun" v-on:change="selectedOnChangeBatterRun">
                    <option v-for="item in itemsBatterRun" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>3</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>SS ボビー #10 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected1stRunner">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selected1stBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>2</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>P のあ #1 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected2ndRunner">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selected2ndBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item">
            <div class="order">
              <span>1</span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>C とら #2 ヒット-盗塁</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selected3rdRunner">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-model="selected3rdBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ok-button">決定</v-ons-button>
            </div>
          </v-ons-list-item>
        </v-ons-list>
      </v-ons-page>
    </template>
    <template id="top">
        <v-ons-page>
            <div class="background" style="background-color:#003300;"></div>
            <p style="text-align: center">
            Some news here.
          </p>
        </v-ons-page>
      </template>
      
      <template id="bottom">
        <v-ons-page>
            <div class="background" style="background-color:#003300;"></div>
            <p style="text-align: center">
            Change the settings.
          </p>
        </v-ons-page>
      </template>

 
    <div id="app"><script src="./app.js?v=1"></script></div>
  </body>
</html>
