<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='style.css?ver=5.0.0' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
          <v-ons-page>
            <v-ons-toolbar>
              <div class="center">{{ title }}</div>
            </v-ons-toolbar>
            
            <v-ons-tabbar swipeable position="auto"
                  :tabs="tabs"
                  :visible="true"
                  :index.sync="activeIndex"
                >
            </v-ons-tabbar>
          </v-ons-page>
    </template>
    
  
    <template id="game">
      <v-ons-page>
          <div class="background" style="background-color:#003300;"></div>
          <v-ons-list>
            <v-ons-list-item>
              <label class="center" for="switch1">
                公式戦
              </label>
              <div class="right">
                <v-ons-switch input-id="switch1"
                  v-model="officialValue"
                  v-on:change="officialChange"
                >
                </v-ons-switch>
              </div>
            </v-ons-list-item>
            <v-ons-list-item v-show="officialValue">
                <div class="center">        
                  <v-ons-input placeholder="大会名を入力してください"
                    v-model="gameName"
                  >
                  </v-ons-input>          
                </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="対戦相手を入力してください"
                      v-model="opponentName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
              <v-ons-list-item>
                  <div class="center">        
                    <v-ons-input placeholder="球場名を入力してください"
                      v-model="fieldName"
                    >
                    </v-ons-input>          
                  </div>
              </v-ons-list-item>
              <v-ons-list-item>
                <div class="center">
                  <v-ons-radio
                    :input-id="'radio-1'"
                    :value="'top'"
                    v-model="selectTopBottom"
                    v-on:change="onChangeTopBottom"
                  >
                  </v-ons-radio>
                  <label style="margin-right: 25px;">先攻</label>
                  <v-ons-radio
                  :input-id="'radio-2'"
                  :value="'bottom'"
                  v-model="selectTopBottom"
                  v-on:change="onChangeTopBottom"
                  >
                </v-ons-radio>
                <label>後攻</label>
                </div>
              </v-ons-list-item>
            </v-ons-list>
            <section style="margin: 16px">
              <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
            </section>    
      </v-ons-page>
    </template>

    <template id="offense">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <div id="offense-page">
        <div id="game">
            <div class="game-inning">
              <span style="margin-right: 8px;">{{ score.inning }}</span>
              <span v-if="score.out1" style="color:red;">●</span><span v-else>●</span>
              <span v-if="score.out2" style="color:red;">●</span><span v-else>●</span>
            </div>
            <div class="team-name">
              <span>{{ score.topname }}</span>
            </div>
            <div class="team-score">
              <span style="margin-right:10px">{{ score.topscore }}</span>
            </div>
            <div class="team-name">
              <span>{{ score.bottomname }}</span>
            </div>
            <div class="team-score">
              <span>{{ score.bottomscore }}</span>
            </div>
        </div>
        <v-ons-list modifier="score-list">
          <v-ons-list-item modifier="score-list-item">
            <div class="order-batter">
              <span></span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span v-if="score.batter">{{ score.batter.order }}番 {{ score.batter.position }} {{ score.batter.name }} #{{ score.batter.number }}</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-model="selectedBatterResult" v-on:change="selectedOnChangeBatterResult">
                    <option v-for="(item, index) in itemsBatter" :value="item.value" :key="index">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterDirection" v-model="selectedBatterDirection" v-on:change="selectedOnChangeBatterDirection">
                    <option v-for="item in itemsDirection" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelectedBatterRun" v-model="selectedBatterRun" v-on:change="selectedOnChangeBatterRun">
                    <option v-for="item in itemsBatterRun" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="ph-button" @click="dialogPhVisible = true">代打</v-ons-button>
            </div>
          </v-ons-list-item>
          <v-ons-list-item style="height:5px;background-color: white;">
            <div style="height:5px;background-color: white;">
            </div>
          </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item" v-if="score.runner1st">
            <div class="order-1st">
              <span></span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>{{ score.runner1st.order }}番 {{ score.runner1st.position }} {{ score.runner1st.name }} #{{ score.runner1st.number }} {{ score.runner1st.history }}</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected1stRunner" v-model="selected1stRunner" v-on:change="selectedOnChangeRunner('1st')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected1stRunnerBase" v-model="selected1stBase">
                    <option v-for="item in itemsBase" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="pr-button">代走</v-ons-button>
            </div>
         </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item" v-if="score.runner2nd">
            <div class="order-2nd">
              <span></span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>{{ score.runner2nd.order }}番 {{ score.runner2nd.position }} {{ score.runner2nd.name }} #{{ score.runner2nd.number }} {{ score.runner2nd.history }}</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected2ndRunner" v-model="selected2ndRunner" v-on:change="selectedOnChangeRunner('2nd')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected2ndRunnerBase" v-model="selected2ndBase">
                    <option v-for="item in itemsBase2" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="pr-button">代走</v-ons-button>
            </div>
         </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item" v-if="score.runner3rd">
            <div class="order-3rd">
              <span></span>
            </div>
            <div class="player-item">
              <div class="player-label">
                <span>{{ score.runner3rd.order }}番 {{ score.runner3rd.position }} {{ score.runner3rd.name }} #{{ score.runner3rd.number }} {{ score.runner3rd.history }}</span>
              </div>
              <div class="score-item">
                <div class="score">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected3rdRunner" v-model="selected3rdRunner" v-on:change="selectedOnChangeRunner('3rd')">
                    <option v-for="item in itemsRunner" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
                <div class="position">
                  <v-ons-select modifier="select" v-bind:disabled="showSelected3rdRunnerBase" v-model="selected3rdBase">
                    <option v-for="item in itemsBase3" :value="item.value">
                      {{ item.text }}
                    </option>
                  </v-ons-select>
                </div>
              </div>
            </div>
            <div class="right">
              <v-ons-button modifier="pr-button">代走</v-ons-button>
            </div>
         </v-ons-list-item>
          <v-ons-list-item modifier="score-list-item-diamond">
              <div id="diamond">
                  <!-- {{ getRunnerInfo('1st') }}
                  {{ getRunnerInfo('2nd') }}
                  {{ getRunnerInfo('3rd') }} -->
                  <v-ons-row style="height: 19px;">
                      <v-ons-col style="width: 32%;">&nbsp;</v-ons-col>
                      <v-ons-col style="width: 36%;">&nbsp;</v-ons-col>
                      <v-ons-col style="width: 32%;">&nbsp;</v-ons-col>
                  </v-ons-row>
                  <v-ons-row style="height: 24px;">
                      <v-ons-col style="width: 32%;">&nbsp;</v-ons-col>
                      <v-ons-col style="width: 36%;text-align: center;">{{ getRunnerInfo('2nd') }}</v-ons-col>
                      <v-ons-col style="width: 32%;">&nbsp;</v-ons-col>
                  </v-ons-row>
                  <v-ons-row style="height: 22px;">
                      <v-ons-col style="width: 32%;text-align: right;padding-right: 2px;">{{ getRunnerInfo('3rd') }}</v-ons-col>
                      <v-ons-col style="width: 36%;">&nbsp;</v-ons-col>
                      <v-ons-col style="width: 32%;padding-left: 6px">{{ getRunnerInfo('1st') }}</v-ons-col>
                  </v-ons-row>
              </div>
              <div class="right">
                  <v-ons-button modifier="ok-button">決定</v-ons-button>
              </div>    
            </v-ons-list-item>  
        </v-ons-list>
      </div>
      </v-ons-page>
    </template>
    
    <template id="top">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <div id="order-page">
        <v-ons-list modifier="order-list">
          <v-ons-list-item modifier="order-list-item" v-for="(data, index) in toporder">
            <v-ons-row class="order-row">
              <v-ons-col width="30px">
                <div class="order">
                  {{data.order}}
                </div>
              </v-ons-col>
              <v-ons-col width="50px">
                  <v-ons-select modifier="select" v-model="selectedPosition[index]">
                      <option v-for="item in itemsPosition" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
              <v-ons-col style="margin: 0 3px 0 0;padding: 0 2px 0 0;">
                  <v-ons-select modifier="selectOrderName" v-model="selectedName[index]">
                      <option v-for="item in reserve" :value="item.name">
                        {{ item.name }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
              <v-ons-col width="50px">
                  <v-ons-select modifier="select" v-model="selectedNumber[index]">
                      <option v-for="item in itemsPosition" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
            </v-ons-row>
          </v-ons-list-item>
        </v-ons-list>
        <p>
          <v-ons-button @click="dialogPhVisible = true">
            Simple Dialog
          </v-ons-button>
        </p>

        <v-ons-dialog
          cancelable
          :visible.sync="dialogPh"
        >
          <p style="text-align: center">Lorem ipsum</p>
          <v-ons-select modifier="selectOrderName" v-model="selectedName[0]">
            <option v-for="item in reserve" :value="item.name">
              {{ item.name }}
            </option>
          </v-ons-select> 
          <section style="margin: 16px">
            <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
          </section>
        </v-ons-dialog>

        <section style="margin: 16px">
          <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
        </section>
        </div>
      </v-ons-page>
    </template>
      
    <template id="bottom">
      <v-ons-page>
        <div class="background" style="background-color:#003300;"></div>
        <div id="order-page">
        <v-ons-list modifier="order-list">
          <v-ons-list-item modifier="order-list-item" v-for="(data, index) in bottomorder">
            <v-ons-row class="order-row">
              <v-ons-col width="30px">
                <div class="order">
                  {{data.order}}
                </div>
              </v-ons-col>
              <v-ons-col width="50px">
                  <v-ons-select modifier="select" v-model="selectedPosition[index]">
                      <option v-for="item in itemsPosition" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
              <v-ons-col style="margin: 0 3px 0 0;padding: 0 2px 0 0;">
                  <v-ons-select modifier="selectOrderName" v-model="selectedName[index]">
                      <option v-for="item in itemsPosition" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
              <v-ons-col width="50px">
                  <v-ons-select modifier="select" v-model="selectedNumber[index]">
                      <option v-for="item in itemsPosition" :value="item.value">
                        {{ item.text }}
                      </option>
                    </v-ons-select>  
              </v-ons-col>
            </v-ons-row>
          </v-ons-list-item>
        </v-ons-list>

        <section style="margin: 16px">
          <v-ons-button modifier="large" style="margin: 6px 0">決　定</v-ons-button>
        </section>
        </div>
      </v-ons-page>
    </template>

    <template id="text">
        <v-ons-page>
          <div class="background" style="background-color:#003300;"></div>
          <div id="text-page">
          <v-ons-pull-hook
          :action="loadItem"
          @changestate="state = $event.state"
          >
            <span class="loadstate" v-show="state === 'initial'"> Pull to refresh </span>
            <span class="loadstate" v-show="state === 'preaction'"> Release </span>
            <span class="loadstate" v-show="state === 'action'"> Loading... </span>
          </v-ons-pull-hook>
            <div class="scoreboard">
              <v-ons-row class="" style="background-color:lightgray;">
                  <v-ons-col style="width: 50px;">&nbsp;</v-ons-col>
                  <v-ons-col v-for="data in inning">
                    {{ data }}
                  </v-ons-col>
                </v-ons-row>      
                <v-ons-row class="toprow" style="background-color:white;">
                  <v-ons-col style="width: 50px;">{{ topname }}</v-ons-col>
                  <v-ons-col v-for="data in top">
                    {{ data }}
                  </v-ons-col>
                </v-ons-row>
                <v-ons-row class="" style="background-color:white;">
                  <v-ons-col style="width: 50px;">{{ bottomname }}</v-ons-col>
                  <v-ons-col v-for="data in bottom">
                    {{ data }}
                  </v-ons-col>
                </v-ons-row>
              </div>

              <div class="text-news">
              <v-ons-list modifier="text-list">
                <v-ons-list-item modifier="text-list-item" v-bind:class="[data.type]" v-for="data in texts">
                  <v-ons-row>
                    <v-ons-col class="header" v-if="data.type == 'header'">
                        {{data.title}}
                    </v-ons-col>
                    <v-ons-col class="text" v-else-if="data.type == 'text'">
                        {{ data.num }} : <span v-bind:class="[data.c]" >{{data.text}}</span>
                    </v-ons-col>
                    <v-ons-col class="stat" v-else-if="data.type == 'stat'">
                        <span>&nbsp;</span>
                    </v-ons-col>
                  </v-ons-row>
                </v-ons-list-item>
              </v-ons-list>
              </div>
            </v-ons-page>
      </template>

    <div id="app"><script src="./app.js?v=1"></script></div>
  </body>
</html>
