ul.inning {
    list-style: none outside none;
    padding-left: 0;
    padding-bottom: 6px;
    margin-top: 0;
    margin-left: 5px;
}

.inning-header {
    background-color: #fff;
    color: #000;
}

.inning li {
    padding-top: 0.3em;
}

ul.lines {
    list-style: none outside none;
    padding-left: 4px;
    background-color: #fff;
}

.text-line li {
    border-bottom: 1px solid gray;
    padding: 2px 0 0 0;
    color: #003300;
}
