
.scoreboard {
    margin: 3px 4px 3px 4px;
}


ul.inning {
    list-style: none outside none;
    padding: 2px 4px 6px 4px;
    margin: 0 2px 3px 5px;
}

.inning-header {
    background-color: #d3d3d3;
    color: #000;
    padding: 2px 0 2px 4px;
}

.inning-item {
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;    
}

ul.lines {
    list-style: none outside none;
    padding-left: 4px;
    background-color: #fff;
}

.text-line {
    border-bottom: 1px solid gray;
    padding: 2px 0 0 4px;
    color: #000000;
}

.text-line li:last-child{
    padding-bottom: 5px;
}