header {
  padding:1px;
  background: #FFF;
  color:#003300;
  height:28px;
}

body {
  background-color:#003300;
  color:#FFF;
}

#navi-title {
  text-align: center;
  font-size:16px;
}

#game {
  margin:4px 4px 0 4px;
  border: 2px solid #FFF;
  text-align: center;
  font-size:16px;
  height:22px;
  padding:2px;
}

.game-inning{
  float: left;
  margin:0 12px 0 12px;
  padding:0 10px 0 10px;
  text-align: center;
  height:24px;
  background-color: #003300;
  color:#FFF;
}

.team-name{
  float: left;
  padding:0 10px 0 10px;
  text-align: center;
  height:100%;
  background-color: #FFF;
  color:#003300;
}

.team-score{
  float: left;
  margin:0 12px 0 12px;
  padding:0 10px 0 10px;
  text-align: center;
  height:24px;
  background-color: #003300;
  color:#FFF;
}

#batter-list {
  margin:4px 4px 0 4px;
}

.list--score-list {
  margin:4px 4px 0 4px;
}

.list-header--score-list-header {
  background-color: #FFF;
  color:#003300;
  font-size:16px;
  font-weight:bold;
  padding:2px 2px 2px 6px;
}

.inning{
  width:auto;
  border: 2px solid #FFF;
  height:20px;
  overflow: hidden;
  font-size:16px;
  background-color: #FFF;
  color:#003300;
  margin-bottom:3px;
  padding-left:4px;
  font-weight:bold;
}

.list-item--score-list-item{
  width:auto;
  background-color: #003300;
  border: 2px solid #FFF;
  height:68px;
  overflow: hidden;
  padding:2px;
  margin-top:3px;
  margin-bottom:3px;
  color:#FFF;
}

#diamond {
  width:250px;
  height: 73px;
  background-image: url("./images/diamond.png")

}
.list-item--score-list-item-diamond{
  width:auto;
  background-color: #003300;
  border: 2px solid #FFF;
  height:73px;
  overflow: hidden;
  padding:2px;
  margin-top:3px;
  margin-bottom:3px;
  color:#FFF;
}
.list-item--score-list-item__center {
  padding:0px;
}

.list-item--score-list-item__right {
  padding-right:2px;
}

.order{
  float: left;
  font-size:32px;
  padding:18px 4px 0 4px;
  text-align: center;
  height:42px;
  width:26px;
  background-color: #FFF;
  color:#003300;
}

.batter-score{
  width:auto;
  border: 2px solid #FFF;
  height:52px;
  overflow: hidden;
  padding:2px;
  margin-bottom:3px;
}

.select-select{
  font-size:20px;
  border :1px solid #fff;
  background-color: #003300;
  color:#FFF;
  margin:1px 0 0 1px;
}

.select-input{
  font-size:20px;
  background-color: #003300;
  color:#FFF;
  width:84px;
}

.selectbox{
  font-size:20px;
  border :1px solid #fff;
  background-color: #003300;
  color:#FFF;
  margin:1px 0 0 1px;
}

.player-item{
  margin:0 0 0 6px;
  float: left;
  font-size:14px;
}

.player-label {
  font-size:14px;
  color: #fff;
}

.score{
  float: left;
}

.player-position{
  margin:1px 0 0 0;
}

.name{
  margin:1px 0 0 0;
}

.position{
  float: left;
  margin:0 0 0 2px;
}

.ok{
  float: right;
  padding:0 0 0 0px;
}

.button--ok-button{
  float: right;
  font-size:12px;
  padding:8px 0px 0 0px;
  text-align: center;
  height:52px;
  width:30px;
  background-color: #FFF;
  color:#003300;
}

#order-page .list {
  margin:4px 4px 0 4px;
}

#order-page .list-item {
  width:auto;
  background-color: #003300;
  border: 2px 2px 0 2px solid #FFF;
  height:50px;
  overflow: hidden;
  padding:2px;
  margin-top:0px;
  margin-bottom:0px;
  color:#FFF;
}

.list-item--order-list-item__center {
  padding: 0px;
}

#order-page .order-row {
  height: 44px;
}

#order-page .order{
  float: left;
  font-size:20px;
  padding: 6px 4px 0 4px;
  text-align: center;
  height:30px;
  width:18px;
  background-color: #FFF;
  color:#003300;
  overflow: hidden;
}

.order-item {
  float: left;
  margin: 0;
}

.select--order{
  font-size:20px;
  border :1px solid #fff;
  background-color: #003300;
  color:#FFF;
  margin:1px 0 0 1px;
}
.select-input--order{
  font-size:20px;
  background-color: #003300;
  color:#FFF;
  width:180px;
}

#order-page .select-select{
  font-size:20px;
  border :1px solid #fff;
  background-color: #003300;
  color:#FFF;
  margin:1px 0 0 1px;
}

#order-page .select-input{
  font-size:20px;
  background-color: #003300;
  color:#FFF;
  width:45px;
}