<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='style-text.css?ver=5.0.1' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
          <v-ons-page>
            <div class="background" style="background-color:#003300;"></div>
            <v-ons-toolbar>
              <div class="center">{{ title }}</div>
            </v-ons-toolbar>
            
            <div class="scoreboard">
                <v-ons-row class="" style="background-color:lightgray;">
                    <v-ons-col></v-ons-col>
                    <v-ons-col>1</v-ons-col>
                    <v-ons-col>2</v-ons-col>
                    <v-ons-col>3</v-ons-col>
                    <v-ons-col>4</v-ons-col>
                    <v-ons-col>5</v-ons-col>
                    <v-ons-col>6</v-ons-col>
                    <v-ons-col>7</v-ons-col>
                    <v-ons-col>計</v-ons-col>
                  </v-ons-row>      
            <v-ons-row class="" style="background-color:white;">
              <v-ons-col>sugi</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
            </v-ons-row>
            <v-ons-row class="" style="background-color:white;">
              <v-ons-col>sugi</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
              <v-ons-col>0</v-ons-col>
            </v-ons-row>
</div>

            <ul class="inning">
                <li class="inning-item" v-for="inningData in textData">
                  <div class="inning-header">
                    {{ inningData.inning }}回<span v-if="inningData.topbottom">表</span><span v-else>裏</span>
                  </div>
                  <ul class="lines">
                    <li class="text-line" v-for="data in inningData.texts">
                        {{ data }}
                    </li>
                    <li>
                      <div style="color: black">得点</div>
                    </li>
                  </ul>
                </li>
            </ul>
          </v-ons-page>
    </template>
 
    <div id="app"><script src="./app-text.js?v=1"></script></div>
  </body>
</html>
