<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.js"></script>
    <script src="https://unpkg.com/vue-onsenui"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='style.css?ver=5.0.1' type='text/css' media='all' />
    <meta http-equiv=”Pragma” content=”no-cache”>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <template id="main">
        <v-ons-page>
            <div class="background" style="background-color:#003300;"></div>
            <v-ons-toolbar>
                <div class="center">{{ title }}</div>
              </v-ons-toolbar>
                          <div id="text-page">
            <v-ons-pull-hook
            :action="loadItem"
            @changestate="state = $event.state"
            >
              <span class="loadstate" v-show="state === 'initial'"> Pull to refresh </span>
              <span class="loadstate" v-show="state === 'preaction'"> Release </span>
              <span class="loadstate" v-show="state === 'action'"> Loading... </span>
            </v-ons-pull-hook>
              <div class="scoreboard">
                <v-ons-row class="" style="background-color:lightgray;">
                    <v-ons-col style="width: 50px;">&nbsp;</v-ons-col>
                    <v-ons-col v-for="data in inning">
                      {{ data }}
                    </v-ons-col>
                  </v-ons-row>      
                  <v-ons-row class="toprow" style="background-color:white;">
                    <v-ons-col style="width: 50px;">{{ topname }}</v-ons-col>
                    <v-ons-col v-for="data in top">
                      {{ data }}
                    </v-ons-col>
                  </v-ons-row>
                  <v-ons-row class="" style="background-color:white;">
                    <v-ons-col style="width: 50px;">{{ bottomname }}</v-ons-col>
                    <v-ons-col v-for="data in bottom">
                      {{ data }}
                    </v-ons-col>
                  </v-ons-row>
                </div>
  
                <div class="text-news">
                <v-ons-list modifier="text-list">
                  <v-ons-list-item modifier="text-list-item" v-bind:class="[data.type]" v-for="data in texts">
                    <v-ons-row>
                      <v-ons-col class="header" v-if="data.type == 'header'">
                          {{data.title}}
                      </v-ons-col>
                      <v-ons-col class="text" v-else-if="data.type == 'text'">
                          {{ data.num }} : <span v-bind:class="[data.c]" >{{data.text}}</span>
                      </v-ons-col>
                      <v-ons-col class="stat" v-else-if="data.type == 'stat'">
                          <span>&nbsp;</span>
                      </v-ons-col>
                    </v-ons-row>
                  </v-ons-list-item>
                </v-ons-list>
                </div>
              </v-ons-page>
    </template>
 
    <div id="app"><script src="./app-text.js?v=1"></script></div>
  </body>
</html>
